<h2> Meet The Memes </h2>

<h4> Beloved User! Review posted about your meme. So wow. <%= @review.meme.name %>. </h4>

<h4><%= meme_url(@review.meme, host: 'http://meet-the-memes.herokuapp.com') %></h4>
