<div>
  <h1> Behold Meme </h1>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Average Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @memes.each do |meme| %>
      <tr>
        <td><%= meme.name %></td>
        <td><%= meme.average_rating %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @memes %>
