<div>
  <h1>Admin</h1>
  <h2>Behold Meme</h2>
</div>
<%= link_to 'Manage Users', admin_users_path %>
<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Average Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @memes.each do |meme| %>
      <tr>
        <td><%= meme.name %></td>
        <td><%= meme.average_rating %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @memes %>
