<h2> Meet The Memes </h2>

<h4> Beloved User!  Much review posted, about your meme <%= @review.meme.name %>. </h4>

<h4><a href="http://www.meet-the-memes.herokuapp.com/memes/<%= @review.meme.id %>"> Check it out. </a></h4>
