@font-face {
    font-family: 'dayposterblackregular';
    src: asset-url('daypbl-webfont.eot');
    src: asset-url('daypbl-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('daypbl-webfont.woff') format('woff'),
         asset-url('daypbl-webfont.ttf') format('truetype'),
         asset-url('daypbl-webfont.svg#dayposterblackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
