<h1> Behold Memes </h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @memes.each do |meme| %>
    <tr>
      <td> meme.name </td>
      <td> meme.user.name </td>
      <td> meme.average_rating </td>
    </tr>
    <% end %>
  </tbody>
</table>
